html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  /* width: 100%; */
  text-align: center;
  font-family: proxima-soft, sans-serif;
  font-weight: 600, 500;
  color: #333;
  /* background-image: linear-gradient(230deg, rgba(255,64,64,0.1) 20%, rgba(255,121,31,0.1) 25%, rgba(255,248,13,0.1) 30%, rgba(120,221,98,0.1) 35%, rgba(63,216,224,0.1) 40%, rgba(9,97,246,0.1) 45%, rgba(160,111,206,0.1) 50%, rgba(236,126,252,0.1) 55%, rgba(192,171,114,0.1) 60%); */
  background-color: #F9F7F1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-mode {
  background-color: #231E11;
  /* background-image: linear-gradient(230deg, rgba(255,64,64,0.05) 20%, rgba(255,121,31,0.05) 25%, rgba(255,248,13,0.05) 30%, rgba(120,221,98,0.05) 35%, rgba(63,216,224,0.05) 40%, rgba(9,97,246,0.05) 45%, rgba(160,111,206,0.05) 50%, rgba(236,126,252,0.05) 55%, rgba(192,171,114,0.05) 60%); */
  color: #FFFCE9;
  filter: brightness(.9);
}  

.gray-mode {
  background-color: #1A1A1A;
  color: #E6E6E6;
  filter: grayscale(1);
}

/* .dark-mode img {
  filter: brightness(0.9);
} */

.gray-mode img {
  filter: brightness(0.8);
}

.gray-mode .logo > img{
  filter: brightness(1);
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.container{
  width: 630px;
  margin-left: auto;
  margin-right: auto;  
  z-index: -100;
}

.dodo{
  position: absolute;
  margin-top: 6px;
  margin-left: 85px;
}

h1{
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  height: 100px;
}

.logo{
  color: #333;
  text-decoration: none;
}

.logo-o{
  color: transparent;
  text-decoration: none;
}

.dark-mode .logo{
  color: #FFFCE9;
  font-weight: 600;
}

.gray-mode .logo {
  color: #E6E6E6;
  font-weight: 600;
}

.glass{
  position: absolute;
  margin-top: 35px;
  margin-left: -33px;
  z-index: 10;
  /* outline: 4px solid red; */
  outline-offset: -4px;
}



.separatorBig{
  height: 5px;
  width: 630px;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-image: linear-gradient(to left, rgba(255, 64, 64, 0.3), rgba(255, 121, 31, 0.3), rgba(255, 208, 13, 0.3), rgba(120, 221, 98, 0.3), rgba(63, 216, 224, 0.3), rgba(9, 97, 246, 0.3), rgba(160, 111, 206, 0.3), rgba(249, 147, 206, 0.3), rgba(192, 171, 114, 0.3));
}

.navbar{
  display: grid;
  position: relative;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 0px;
  grid-template-rows: auto;
  gap: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.dark-mode .navbar > button{
  color: #FFFCE9;
  background-image: none;
  background-color: #866C00;
}

.howToButtonBorder{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: fit-content;
  height: 34px;
  border-radius: 17px;
  padding: 1px 8px;
  font-size: 20px;
  font-weight: 500;
  /* background-image: linear-gradient(to bottom, #C0AB72 , #A06FCE); */
  background-color: #A06FCE;
  justify-self: start;
  /* z-index: -10; */
}

.dark-mode .howToButtonBorder, .dark-mode .settingsButtonBorder{
  background-image: none;
  background-color: #FFD00D;
}

.gray-mode .howToButtonBorder, .gray-mode .settingsButtonBorder{
  background-image: none;
  background-color: #B3B3B3;
}

.howToButton{
  /* display: none; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: fit-content;
  height: 30px;
  margin-top: 2px;
  margin-left: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to bottom, #FCC9E6, #D0B7E6);
  font-size: 20px;
  font-weight: 500;
  justify-self: start;
  z-index: 20;
}

.gray-mode .howToButton{
  border: none;
}

.settingsButtonBorder{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  /* background-image: linear-gradient(to bottom, #C0AB72 , #0961F6); */
  background-color: #A06FCE;
  /* z-index: -10; */
}

.settingsButton{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 116px;
  height: 30px;
  margin: 2px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to bottom, #FCC9E6, #D0B7E6);
  font-size: 20px;
  font-weight: 500;
  z-index: 20;
}

.how-to-expanded .howToButton, .how-to-expanded .howToButtonBorder {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.settings-expanded .settingsButton, .settings-expanded .settingsButtonBorder {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.gray-mode .settingsButton{
  border: none;
}

.howToBoxBorder{
  display: none;
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -4px;
  width: 378px;
  height: 100%;
  border-radius: 0 17px 17px 17px;
  background-image: linear-gradient(to bottom, #A06FCE, #C0AB72);
  background-color: #A06FCE;
  z-index: -10;
}

.howToBox{
  position: absolute;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -4px;
  margin-bottom: 2px;
  width: 100%;
  border: 2px solid #A06FCE;
  border-radius: 0 15px 15px 15px;
  /* border: none; */
  background-image: linear-gradient(to bottom, #E7DBF3, #FEE4F3);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  z-index: 10;
}

.settingsBoxBorder{
  display: none;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -4px;
  width: 100%;
  border-radius: 17px 0  17px 17px;
  /* background-image: linear-gradient(to bottom , #0961F6, #C0AB72); */
  background-color: #A06FCE;
  z-index: -20;
}

.settingsBox{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -4px;
  width: 100%;
  border-radius: 15px 0 15px 15px;
  border: 2px solid #A06FCE;
  background-image: linear-gradient(to bottom, #E7DBF3, #FEE4F3);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  z-index: 10;
}

.dark-mode .settingsBox, .dark-mode .howToBox{
  background-image: none;
  background-color: #866C00;
  border: 2px solid #FFD00D;
}

.gray-mode .settingsBox, .gray-mode .howToBox{
  background-image: none;
  background-color: #4D4D4D;
  border: 2px solid #B3B3B3;
}

.settingsBox > label{
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  font-size: 20px;
  margin: 0;
}

.gray-mode .settingsBox > label{
  color: #E6E6E6;
  font-weight: 500;
}

.themeLabel{
  justify-self: start;
  grid-row-start: 1;
  grid-row-end: 2;
}

.flexButtons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.light{
  height: 24px;
  width: 72px;
  border-radius: 12px;
  font-size: 14px;
  /* margin-left: 5px; */
  background-image: linear-gradient(#D0B7E6, #84B0FB);
  border: 2px solid #0961F6;
  /* border: none; */
}

.dark, .gray{
  height: 24px;
  width: 72px;
  border-radius: 12px;
  font-size: 14px;
  /* margin-left: 5px; */
  background-image: none;
  background-color: transparent;
  border: 2px solid #0961F6;
  /* border: none; */
}

.dark-mode .light, .dark-mode .gray{
  background-image: none;
  background-color: #866C00;
  border: 2px solid #FFD00D;
  color: #FFFCE9;
}

.dark-mode .dark{
  background-image: none;
  background-color: #FFE886;
  border: 2px solid #FFD00D;
  color: #333;
  font-weight: 500;
}

.gray-mode .light, .gray-mode .dark{
  border: 2px solid #E6E6E6;
  color: #FFF;
}

.gray-mode .gray{
  border: 2px solid #FFF;
  background-color: #E6E6E6;
  color: #4D4D4D;
  font-weight: 500;
}

.languageLabel{
  grid-row-start: 3;
  grid-row-end: 4;
}

.alphabetLabel{
  grid-row-start: 5;
  grid-row-end: 6; 
}

.settingsBox legend, .settingsBox label {
  text-align: left;
}

fieldset {
  display: none;
}

.exclusionBox{
  display: grid;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 0px;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-areas:
  "top top top top top top top"
  "left left input input button button right";
  align-items: center;
}

.copy{
  background-image: linear-gradient(to bottom, #9FEBF0, #84B0FB);
  grid-area: button;
  justify-self: left;
  height: 34px;
  color: #333;
  width: fit-content;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 17px;
  border: 2px solid #0961F6;
  font-size: 20px;
  font-weight: 500;
}

.dark-mode .copy{
  color: #FFFCE9;
  background-color: #04307B;
  background-image: none;
}

.gray-mode button {
  color: #E6E6E6;
  background-color: #4D4D4D;
  background-image: none;
  border: 2px solid #B3B3B3;  
}

label{
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 10px;
  padding: 0;
  grid-area: top;
  /* justify-self: left; */
}

.dark-mode label, .gray-mode label{
  font-weight: 500;
}

.dark-mode h2, .gray-mode h2{
  font-weight: 500;
}

.island{
  display: inline;
}

.inputBox{
  grid-area: input;
  justify-self: left;
  position: relative;
  width: 100%;
}

::placeholder{
  color: #333;
}

.dark-mode ::placeholder{
  color: #FFFCE9;
}

.gray-mode ::placeholder{
  color: #E6E6E6;
}

.typeAName{
  height: 34px;
  width: 100%;
  font-family: proxima-soft, sans-serif;  
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #0961F6;
  border-radius: 17px;
  background-color: #9FEBF0;
  margin: 0;
  padding: 0 10px;
}

.dark-mode .typeAName{
  background-color: #04307B;
}

.gray-mode .typeAName {
  background-color: #4D4D4D;
  border: 2px solid #B3B3B3;
  font-weight: 400;
}

input:disabled{
  color: #AAA69C;
  background-color: #EFEADC;
  border: 2px solid #EFEADC;
}

.dark-mode input:disabled, .dark-mode .toggle:disabled{
  background-color: #84B0FB;
  border: 2px solid #84B0FB;
}

.gray-mode input:disabled, .gray-mode .toggle:disabled{
  background-color: #808080;
  border: 2px solid #808080;
}

.toggle{
  position: absolute;
  color: #04307B;
  top: 0;
  right: 0;
  height: 34px;
  width: 34px;
  background-color: #84B0FB;
  border: 2px solid #0961F6;
  border-radius: 17px;
  z-index: 2;
}

.dark-mode .toggle{
  background-color: #04307B;
  color: #84B0FB;
}

.gray-mode .toggle{
  background-color: #4D4D4D;
  color: #E6E6E6;
}

.toggle:disabled{
  color: #BFD4FF;
  background-color: #EFEADC;
  border: 2px solid #EFEADC;  
}

ul.downshift-options{
  margin-top: 0;
  position: absolute;
  z-index: 100;
  padding: 0;
  width: 100%;
}

ul.downshift-options > li{
  width: 100%;
  font-family: proxima-soft, sans-serif;
  font-size: 20px;
  list-style: none;
  text-align: left;
  padding-left: 10px;
  background-color: #b0ecef;
}

ul.downshift-options > li.downshift-highlight{
  background-color: #3FD8E0;
}

ul.downshift-options > li.downshift-selected{
  color: #FFFCE9;
}

.dark-mode input{
  color: #FFFCE9;
}

.dark-mode ul.downshift-options > li{
  background-color: #04307B;
  color: #FFFCE9;
}

.dark-mode ul.downshift-options > li.downshift-highlight{
  background-color: #84B0FB;
  color: #333;
  font-weight: 600;
}

.gray-mode input{
  color: #E6E6E6;
}

.gray-mode ul.downshift-options > li{
  background-color: #4D4D4D;
  color: #E6E6E6;
}

.gray-mode ul.downshift-options > li.downshift-highlight{
  background-color: #E6E6E6;
  color: #4d4d4d;
  font-weight: 600;
}

.facesBox{
  display: grid;
  /* width: 100%; */
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
}


.faceWrap{
  display: block;
  width: fit-content;
  position: relative;
  text-decoration: none;
}

.faceIcon {
  height: 54px;
  width: 54px;
  border-radius: 27px;
  margin-left: auto;
  margin-right: auto;
}

.faceIcon:hover{
  background-image: url("/FaceX.svg") !important;
}

.faceName{
  font-size: 14px;
  width: fit-content;
  padding: 0 6px;
  border-radius: 15px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 5px;
}

.gray-mode .faceName {
  background-color: #B3B3B3 !important;
  color: #1A1A1A !important;
}

.setSelection{
  display: grid;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 0px;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-areas:
    "left label label label label label right"
    "left easy standard hard species personalities right"
}

.selectionLabel{
  grid-area: label;
}

.easyButton, .standardButton, .hardButton, .speciesButton, .personalitiesButton{
  height: 34px;
  width: 100%;
  border-radius: 17px;
  /* border: none; */
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

/* .dark-mode .easyButton, .standardButton, .hardButton, .speciesButton, .personalitiesButton{
  font-weight: 400;
} */

.easyButton{
  grid-area: easy;
  /* background-image: linear-gradient(to bottom, #FFE886, #BBEEB0); */
  border: 2px solid #78DD62;
  background-color: transparent;
}

.dark-mode .easyButton{
  background-image: none;
  background-color: #2F831C;
  color: #FFFCE9;
}

.standardButton{
  grid-area: standard;
  background-image: linear-gradient(to bottom, #FFE886, #9FEBF0);
  border: 2px solid #3FD8E0;
}

.dark-mode .standardButton{
  background-image: none;
  background-color: #14767C;
  color: #FFFCE9;
}

.hardButton{
  grid-area: hard;
  /* background-image: linear-gradient(to bottom, #FFE886, #D0B7E6); */
  border: 2px solid #A06FCE;
  background-color: transparent;
}

.dark-mode .hardButton{
  background-image: none;
  background-color: #502876;
  color: #FFFCE9;
}

.speciesButton{
  grid-area: species;
  /* background-image: linear-gradient(to bottom, #FFE886, #FCC9E6); */
  border: 2px solid #F993CE;
  background-color: transparent;
}

.dark-mode .speciesButton{
  background-image: none;
  background-color: #BC0A71;
  color: #FFFCE9;
}

.personalitiesButton{
  grid-area: personalities;
  /* background-image: linear-gradient(to bottom, #FFE886, #E0D5B9); */
  border: 2px solid #C0AB72;
  background-color: transparent;
}

.dark-mode .personalitiesButton{
  background-image: none;
  background-color: #6A5A2F;
  color: #FFFCE9;
}

button{
  font-family: proxima-soft, sans-serif;
  line-height: 0;
  cursor: pointer;
}

.buttons{
  display: flex;
  width: 630px;
  height: 45px;
  justify-content: space-around;
  margin: 20px auto 20px;
}

.save, .create{
  font-size: 30px;
  color: #333;
  padding: 0 20px;
  font-weight: 600;
  border-radius: 25px;
}

.save{
  display: none;
  background-image: linear-gradient(to bottom, #3FD8E0, #0961F6, #A06FCE);
}

.create{
  background-image: linear-gradient(to bottom, #FFE886, #FFBC8F);
  border: 2px solid #FF791F;
}

.dark-mode .create{
  color: #FFFCE9;
  font-weight: 400;
  background-color: #8F3900;
  background-image: none;
  font-weight: 500;
}

.gray-mode .create{
  font-weight: 500;
}

.boardBox{
  width: 630px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left top, #FF4040, #FF791F, #FFD00D, #78DD62, #3FD8E0, #0961F6, #A06FCE, #F993CE, #C0AB72);
  padding: 5px;
  border-radius: 15px;
}

.dark-mode .boardBox{
  background-image: linear-gradient(to left top, #A00000, #8F3900, #866C00, #2F831C, #14767C, #04307B, #502876, #BC0A71, #6A5A2F);
}

.gray-mode .boardBox{
  background-image: none;
  background-color: #4D4D4D;
}

.boardTiles{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  width: 620px;
  height: 620px;
}

.tileBlank{
  background-color: #fff;
  opacity: 0.5;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.dark-mode .tileBlank{
  background-color: #000;
}

.gray-mode .tileBlank{
  background-color: #000;
}

.tile {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 10px;
}

.picture{
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.nameTagWrap{
  width: 120px;
  position: absolute;
  top: 80px;
}

.nameTag{
  width: fit-content;
  font-size: 18px;
  /* padding: 2px 10px 4px;
  line-height: 16px; */
  padding: 10px 10px 12px;
  line-height: 0px;
  border-radius: 15px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.gray-mode .nameTag {
  background-color: #E6E6E6 !important;
  color: #4D4D4D !important;
}

.free{
  width: 120px;
  height: 120px;
  position: relative;
  color: #333;
}

.overlap{
  /* position: absolute; */
  width: 130px;
  margin: -13px -5px 0;
  font-family: proxima-soft, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #333;
  background: none;
  border: none;
  z-index: 100;
}

.dark-mode .overlap{
  color: #FFFCE9;
  font-weight: 500;
}

.plot{
  position: absolute;
  top: 39px;
  left: 0;
  width: 120px;
}

h2{
  font-weight: 600;
  font-size: 36px;
  margin: 0;
}

.blotter{
  display: flex;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  /* grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 70px; */
}

.blot{
  /* background-color: #000; */
  height: 90px;
  width: 90px;
  border-radius: 45px;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.blotter > a {
  /* display: block; */
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  opacity: 0.3;
  transition: opacity 0.25s;
}

.dark-mode .blotter > a {
  opacity: 0.5;
}

.red {
  background-color: #FF4040;
}

.gray-mode .red {
  background-color: #333333;
  opacity: 1;
}

.orange {
  background-color: #FF791F;
}

.gray-mode .orange {
  background-color: #4D4D4D;
  opacity: 1;
}

.yellow {
  background-color: #FFD00D;
}

.gray-mode .yellow {
  background-color: #666666;
  opacity: 1;
}

.green {
  background-color: #78DD62;
}

.gray-mode .green {
  background-color: #808080;
  opacity: 1;
}

.teal {
  background-color: #3FD8E0;
}

.gray-mode .teal {
  background-color: #999999;
  opacity: 1;
}

.blue {
  background-color: #0961F6;
}

.gray-mode .blue {
  background-color: #B3B3B3;
  opacity: 1;
}

.purple {
  background-color: #A06FCE;
}

.gray-mode .purple {
  background-color: #CCCCCC;
  opacity: 1;
}

.pink {
  background-color: #F993CE;
}

.gray-mode .pink {
  background-color: #E6E6E6;
  opacity: 1;
}

.gold {
  background-color: #C0AB72;
}

.gray-mode .gold {
  background-color: #FFFFFF;
  opacity: 1;
}

.cursor{
  width: 40px;
  margin-top: 30px;
  margin-left: 20px;
  z-index: 10;
  /* opacity: 0; */
}

.footer{
  margin-top: 20px;
  /* background-color: rgba(255,255,255,0.5);
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 34%, rgba(255,255,255,0.3) 66%, rgba(255,255,255,0) 100%) */
}

.separator{
  height: 5px;
  width: 370px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-image: linear-gradient(to left, rgba(255, 64, 64, 0.3), rgba(255, 121, 31, 0.3), rgba(255, 208, 13, 0.3), rgba(120, 221, 98, 0.3), rgba(63, 216, 224, 0.3), rgba(9, 97, 246, 0.3), rgba(160, 111, 206, 0.3), rgba(249, 147, 206, 0.3), rgba(192, 171, 114, 0.3));
}

.gray-mode .separator{
  background-image: none;
  background-color: #808080;
}

.divider{
  height: 2px;
  width: 100%;
  margin: 5px 0px 5px;
  border-radius: 1px;
  background-image: linear-gradient(to left, rgba(255, 64, 64, 0.5), rgba(255, 121, 31, 0.5), rgba(255, 208, 13, 0.5), rgba(120, 221, 98, 0.5), rgba(63, 216, 224, 0.5), rgba(9, 97, 246, 0.5), rgba(160, 111, 206, 0.5), rgba(249, 147, 206, 0.5), rgba(192, 171, 114, 0.5));
  /* background-color: #A06FCE; */
  grid-column-start: 1;
  grid-column-end: 6;
}

.dark-mode .divider{
  background-image: none;
  background-color: #FFD00D;
}

.gray-mode .divider{
  background-image: none;
  background-color: #B3B3B3;
}

.credit{
  font-size: 0.85rem;
  line-height: 0.4rem;
}

.disclaimer{
  font-size: 0.65rem;
}

.footerLink{
  color: #333;
}

.dark-mode .footerLink{
  color: #FFFCE9;
}

.gray-mode .footerLink{
  color: #E6E6E6;
}

/* .footerLink:hover{
  color: #333;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
} */

/* .footerLink {
  background-image: linear-gradient(to right, #FF4040, #FF791F, #FFD00D, #78DD62, #3FD8E0, #0961F6, #A06FCE, #F993CE, #C0AB72);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

.footerLink:hover {
  background-image: linear-gradient(to right, rgba(255, 64, 64, 0.3), rgba(255, 121, 31, 0.3), rgba(255, 208, 13, 0.3), rgba(120, 221, 98, 0.3), rgba(63, 216, 224, 0.3), rgba(9, 97, 246, 0.3), rgba(160, 111, 206, 0.3), rgba(249, 147, 206, 0.3), rgba(192, 171, 114, 0.3));
  background-size: 100% 50px;
} */

.bottomBar{
  display: block;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, rgba(255, 64, 64, 0.3), rgba(255, 121, 31, 0.3), rgba(255, 208, 13, 0.3), rgba(120, 221, 98, 0.3), rgba(63, 216, 224, 0.3), rgba(9, 97, 246, 0.3), rgba(160, 111, 206, 0.3), rgba(249, 147, 206, 0.3), rgba(192, 171, 114, 0.3));
}

.gray-mode .bottomBar{
  display: none;
}

@media only screen and (max-width: 630px) {
  body{
    width: 100%;
  }
  
  .container{
    overflow: hidden;
    background-color: #F9F7F1;
  }

  .dark-mode .container{
    overflow: hidden;
    background-color: #231E11;
  }

  .gray-mode .container{
    overflow: hidden;
    background-color: #1A1A1A;
  }

  .navbar{
    margin-top: 20px;
  margin-bottom: 20px;
  }

  label, h2{
    font-size: 50px;
  }

  .howToButtonBorder{
    grid-column-end: 4;
    height: 50px;
    width: 100%;
    border-radius: 25px;
  }

  .howToButton{
    grid-column-end: 4;
    width: 241px;
    height: 46px;
    border-radius: 23px;
    font-size: 30px;
  }

  .howToBox{
    grid-column-start: 2;
    font-size: 30px;
  }

  .settingsButtonBorder{
    grid-column-start: 5;
    height: 50px;
    border-radius: 25px;
  }

  .settingsButton{
    grid-column-start: 5;
    width: 241px;
    height: 46px;
    border-radius: 23px;
    font-size: 30px;
  }

  .settingsBox{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 4;
  }

  .settingsBox > label{
    font-size: 30px;
  }
  .flexButtons{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-between;
  }
  
  .light, .dark, .gray{
    width: 110px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
  }

  .exclusionBox{
    grid-template-areas:
    "top top top top top top top"
    "left input input input button button right";
  }

  .typeAName, .copy{
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
  }

  .typeAName{
    margin-right: 5px;
    width: 365px;
  }

  .toggle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 30px;
    margin-right: 5px;
    padding-top: 4px;
  }

  .copy{
    margin-left: 5px;
    width: 240px;
  }

  ul.downshift-options > li{
    font-size: 30px;
    padding: 10px;
  }

  .facesBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .faceWrap{
    margin: 10px 12px;
  }

  .faceIcon{
    height: 90px;
    width: 90px;
    border-radius: 50px;
  }

  .faceName{
    font-size: 20px;
  }

  .buttons{
    height: 60px;
    margin: 30px auto 40px;
  }

  .create{
    border-radius: 30px;
    font-size: 40px;
    /* border: 3px solid #FF791F; */
  }

  .blotter{
    flex-wrap: wrap;
    justify-content: center;
  }

  .blotter > a{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin: 10px 18px;
  }

  .cursor{
    width: 60px;
    margin-top: 50px;
    margin-left: 40px;
  }

  .red{
    order: 0;
  }

  .orange{
    order: 5;
  }

  .yellow{
    order: 1;
  }

  .green{
    order: 6;
  }

  .teal {
    order: 2;
  }

  .blue{
    order: 7;
  }

  .purple{
    order: 3;
  }

  .pink{
    order: 8;
  }

  .gold{
    order: 4;
  }

  .bottomBar{
    width: 630px;
  }

  /* .overlap{
    margin-top: -12px;
    font-weight: 600;
  } */

  /* .buttons{
    width: 480px;
  }
  .boardBox{
    width: 480px;
    height: 480px;
  }
  .boardTiles{
    width: 470px;
    height: 470px;
  }
  .blotter{
    width: 480px;
  }
  .blotter > div {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 5px;
  } */
}