html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  /* width: 100%; */
  text-align: center;
  font-family: proxima-soft, sans-serif;
  font-weight: 600, 500;
  color: #333;
  background-image: linear-gradient(230deg, rgba(255,64,64,0.1) 20%, rgba(255,121,31,0.1) 25%, rgba(255,248,13,0.1) 30%, rgba(120,221,98,0.1) 35%, rgba(63,216,224,0.1) 40%, rgba(9,97,246,0.1) 45%, rgba(160,111,206,0.1) 50%, rgba(236,126,252,0.1) 55%, rgba(192,171,114,0.1) 60%);
  }

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.container{
  width: 630px;
  margin-left: auto;
  margin-right: auto;  
}

.dodo{
  position: absolute;
  margin-top: 6px;
  margin-left: 85px;
}

h1{
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  height: 100px;
}

.logo{
  color: #333;
  text-decoration: none;
}

.glass{
  position: absolute;
  margin-top: 35px;
  margin-left: -33px;
  z-index: 10;
}

.navbar{
  display: none;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 34px auto;
  margin-bottom: 20px;
}

.howToButtonBorder{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  background-image: linear-gradient(to bottom, #C0AB72 , #A06FCE);
  z-index: -10;
}

.howToButton{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 122px;
  height: 30px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to bottom, #E0D5B9, #D0B7E6);
  font-size: 20px;
  font-weight: 500;
}

.settingsButtonBorder{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  background-image: linear-gradient(to bottom, #C0AB72 , #0961F6);
  z-index: -10;
}

.settingsButton{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 122px;
  height: 30px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to bottom, #E0D5B9, #84B0FB);
  font-size: 20px;
  font-weight: 500;
}

.howToBoxBorder{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -4px;
  margin-right: 3px;
  width: 100%;
  border-radius: 0 17px 17px 17px;
  background-image: linear-gradient(to bottom, #A06FCE, #C0AB72);
  z-index: -10;
}

.howToBox{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -2px;
  margin-left: 2px;
  margin-bottom: 2px;
  width: 374px;
  border-radius: 0 15px 15px 15px;
  border: none;
  background-image: linear-gradient(to bottom, #E7DBF3, #EFEADC);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.settingsBoxBorder{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -4px;
  margin-left: 3px;
  width: 100%;
  border-radius: 17px 0  17px 17px;
  background-image: linear-gradient(to bottom , #0961F6, #C0AB72);
  z-index: -20;
}

.settingsBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 5px;
  margin-top: -2px;
  margin-bottom: 2px;
  width: 374px;
  border-radius: 15px 0 15px 15px;
  border: none;
  background-image: linear-gradient(to bottom, #C1D7FD, #EFEADC);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  z-index: 20;
}

.settingsBox legend, .settingsBox label {
  text-align: left;
}

.exclusionBox{
  display: grid;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 0px;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-areas:
  "top top top top top top top"
  "left left input input button right right";
  align-items: center;
}

.copy{
  background-image: linear-gradient(to bottom, #9FEBF0, #84B0FB);
  grid-area: button;
  justify-self: center;
  height: 34px;
  color: #333;
  width: 100%;
  border-radius: 17px;
  border: 2px solid #0961F6;
  font-size: 20px;
  font-weight: 500;
}

label{
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 10px;
  padding: 0;
  grid-area: top;
  /* justify-self: left; */
}

.island{
  display: inline;
}

.inputBox{
  grid-area: input;
  justify-self: left;
  position: relative;
  width: 100%;
}

::placeholder{
  color: #333;
}

.typeAName{
  height: 34px;
  width: 100%;
  font-family: proxima-soft, sans-serif;  
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #0961F6;
  border-radius: 17px;
  background-color: #9FEBF0;
  margin: 0;
  padding: 0 10px;
}

input:disabled{
  color: #AAA69C;
  background-color: #EFEADC;
  border: 2px solid #EFEADC;
}

.toggle{
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 34px;
  background-color: #84B0FB;
  border: 2px solid #0961F6;
  border-radius: 17px;
  z-index: 2;
}

.toggle:disabled{
  background-color: #EFEADC;
  border: 2px solid #EFEADC;  
}

ul{
  margin-top: 0;
  position: absolute;
  z-index: 100;
  padding: 0;
  width: 100%;
}

li{
  width: 100%;
  font-family: proxima-soft, sans-serif;
  font-size: 20px;
  list-style: none;
  text-align: left;
  padding-left: 10px;
}

.facesBox{
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
}

.faceWrap{
  display: block;
  position: relative;
  text-decoration: none;
}

.faceX{
  display: none;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  z-index: 2;
}

.faceWrap:hover .faceX{
  display: block;
}

.faceIcon {
  height: 54px;
  width: 54px;
  border-radius: 27px;
  margin-left: auto;
  margin-right: auto;
}

.faceName{
  font-size: 14px;
  width: fit-content;
  padding: 0 6px;
  border-radius: 15px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 5px;
}

.setSelection{
  display: none;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 0px;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-areas:
    "left label label label label label right"
    "left easy standard hard species personalities right"
}

.selectionLabel{
  grid-area: label;
}

.easyBorder, .standardBorder, .hardBorder, .speciesBorder, .personalitiesBorder{
  height: 34px;
  width: 100%;
  border-radius: 17px;
}

.easyButton, .standardButton, .hardButton, .speciesButton, .personalitiesButton{
  margin: 2px;
  border-radius: 15px;
  border: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

.easyBorder{
  grid-area: easy;
  background-color: #78DD62;
  /* background-image: linear-gradient(to bottom, #FFD00D, #78DD62); */
}

.standardBorder{
  grid-area: standard;
  background-color: #3FD8E0;
  /* background-image: linear-gradient(to bottom, #FFD00D, #3FD8E0); */
}

.hardBorder{
  grid-area: hard;
  background-color: #A06FCE;
  /* background-image: linear-gradient(to bottom, #FFD00D, #A06FCE); */
}

.speciesBorder{
  grid-area: species;
  background-color: #F993CE;
  /* background-image: linear-gradient(to bottom, #FFD00D, #F993CE); */
}

.personalitiesBorder{
  grid-area: personalities;
  background-color: #C0AB72;
  /* background-image: linear-gradient(to bottom, #FFD00D, #C0AB72); */
}

.easyButton{
  grid-area: easy;
  background-image: linear-gradient(to bottom, #FFE886, #BBEEB0);
}

.standardButton{
  grid-area: standard;
  background-image: linear-gradient(to bottom, #FFE886, #9FEBF0);
}

.hardButton{
  grid-area: hard;
  background-image: linear-gradient(to bottom, #FFE886, #D0B7E6);
}

.speciesButton{
  grid-area: species;
  background-image: linear-gradient(to bottom, #FFE886, #FCC9E6);
}

.personalitiesButton{
  grid-area: personalities;
  background-image: linear-gradient(to bottom, #FFE886, #E0D5B9);
}

button{
  font-family: proxima-soft, sans-serif;
  line-height: 0;
  cursor: pointer;
}

.buttons{
  display: flex;
  width: 630px;
  height: 45px;
  justify-content: space-around;
  margin: 20px auto 20px;
}

.save, .create{
  font-size: 30px;
  color: #333;
  padding: 0 20px;
  font-weight: 600;
  border-radius: 25px;
}

.save{
  display: none;
  background-image: linear-gradient(to bottom, #3FD8E0, #0961F6, #A06FCE);
}

.create{
  background-image: linear-gradient(to bottom, #FFE886, #FFBC8F);
  border: 2px solid #FF791F;
}

.boardBox{
  width: 630px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left top, #FF4040, #FF791F, #FFD00D, #78DD62, #3FD8E0, #0961F6, #A06FCE, #F993CE, #C0AB72);
  padding: 5px;
  border-radius: 15px;
}

.boardTiles{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  width: 620px;
  height: 620px;
}

.tileBlank{
  background-color: #fff;
  opacity: 0.5;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.tile {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 10px;
}

.picture{
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.nameTagWrap{
  width: 120px;
  position: absolute;
  top: 80px;
}

.nameTag{
  width: fit-content;
  font-size: 18px;
  /* padding: 2px 10px 4px;
  line-height: 16px; */
  padding: 10px 10px 12px;
  line-height: 0px;
  border-radius: 15px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.free{
  width: 120px;
  height: 120px;
  position: relative;
  color: #333;
}

.overlap{
  /* position: absolute; */
  width: 130px;
  margin: -13px -5px 0;
  font-family: proxima-soft, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #333;
  background: none;
  border: none;
  z-index: 100;
}

.plot{
  position: absolute;
  top: 39px;
  left: 0;
  width: 120px;
}

h2{
  font-weight: 600;
  font-size: 36px;
  margin: 0;
}

.blotter{
  display: grid;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 70px;
}

.blot{
  /* background-color: #000; */
  height: 90px;
  width: 90px;
  border-radius: 45px;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.blotter > a {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  opacity: 0.3;
  transition: opacity 0.25s;
}

.red {
  background-color: #FF4040;
}

.orange {
  background-color: #FF791F;
}

.yellow {
  background-color: #FFD00D;
}

.green {
  background-color: #78DD62;
}

.teal {
  background-color: #3FD8E0;
}

.blue {
  background-color: #0961F6;
}

.purple {
  background-color: #A06FCE;
}

.pink {
  background-color: #F993CE;
}

.gold {
  background-color: #C0AB72;
}

.cursor{
  width: 40px;
  margin-top: 30px;
  margin-left: 20px;
  z-index: 10;
  /* opacity: 0; */
}

.footer{
  margin-top: 20px;
  /* background-color: rgba(255,255,255,0.5);
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 34%, rgba(255,255,255,0.3) 66%, rgba(255,255,255,0) 100%) */
}

.separator{
  height: 5px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-image: linear-gradient(to left, rgba(255, 64, 64, 0.3), rgba(255, 121, 31, 0.3), rgba(255, 208, 13, 0.3), rgba(120, 221, 98, 0.3), rgba(63, 216, 224, 0.3), rgba(9, 97, 246, 0.3), rgba(160, 111, 206, 0.3), rgba(249, 147, 206, 0.3), rgba(192, 171, 114, 0.3));
}

.credit{
  font-size: 0.85rem;
  line-height: 0.4rem;
}

.disclaimer{
  font-size: 0.65rem;
}

.footerLink{
  color: #333;
}

/* .footerLink:hover{
  color: #333;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
} */

/* .footerLink {
  background-image: linear-gradient(to right, #FF4040, #FF791F, #FFD00D, #78DD62, #3FD8E0, #0961F6, #A06FCE, #F993CE, #C0AB72);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

.footerLink:hover {
  background-image: linear-gradient(to right, rgba(255, 64, 64, 0.3), rgba(255, 121, 31, 0.3), rgba(255, 208, 13, 0.3), rgba(120, 221, 98, 0.3), rgba(63, 216, 224, 0.3), rgba(9, 97, 246, 0.3), rgba(160, 111, 206, 0.3), rgba(249, 147, 206, 0.3), rgba(192, 171, 114, 0.3));
  background-size: 100% 50px;
} */

.bottomBar{
  display: block;
}

@media only screen and (max-width: 630px) {
  body{
    width: 100%;
  }
  
  .container{
    overflow: hidden;
  }
  
  /* .overlap{
    margin-top: -12px;
    font-weight: 600;
  } */

  /* .buttons{
    width: 480px;
  }
  .boardBox{
    width: 480px;
    height: 480px;
  }
  .boardTiles{
    width: 470px;
    height: 470px;
  }
  .blotter{
    width: 480px;
  }
  .blotter > div {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 5px;
  } */
}