html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  text-align: center;
  font-family: 'Baloo Tammudu 2', sans-serif;
  font-weight: 500;
  /* line-height: 0px; */
  background: linear-gradient(150deg, rgba(255,64,64,0.1) 20%, rgba(255,121,31,0.1) 25%, rgba(255,248,13,0.1) 30%, rgba(120,221,98,0.1) 35%, rgba(63,216,224,0.1) 40%, rgba(9,97,246,0.1) 45%, rgba(160,111,206,0.1) 50%, rgba(236,126,252,0.1) 55%, rgba(192,171,114,0.1) 60%);
  /* background-image: linear-gradient(150deg, rgba(255,64,64,0.1) 20%, rgba(255,121,31,0.1) 25%, rgba(255,248,13,0.1) 30%, rgba(120,221,98,0.1) 35%, rgba(63,216,224,0.1) 40%, rgba(9,97,246,0.1) 45%, rgba(160,111,206,0.1) 50%, rgba(236,126,252,0.1) 55%, rgba(192,171,114,0.1) 60%),
  url("https://uploads-ssl.webflow.com/5eec38013cb14bc83af8e976/5f6c341704d3a88bad98cd52_Tickets.png"); */
}

h1{
  font-weight: 600;
  font-size: 60px;
  margin: 0;
  height: 100px;
  text-decoration: underline;
}
h2{
  font-weight: 600;
  font-size: 40px;
  height: 60px;
  margin: 0;
}

.facesBox{
  display: grid;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
}

.faceIcon {
  background-color: #848484;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;   
}

.faceNumber{
  font-size: 40px;
  line-height: 70px;
}

.faceName{
  font-size: 14px;
  margin-top: -5px;
  width: fit-content;
  height: 16px;
  padding: 1px 8px 0;
  border-radius: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

button{
  font-family: 'Baloo Tammudu 2', sans-serif;
}

.buttons{
  display: flex;
  width: 630px;
  justify-content: space-between;
  margin: 20px auto;
}

.create{
  background: linear-gradient(to right bottom, #FF4040, #FF791F, #FFF80D, #78DD62, #3FD8E0, #0961F6, #A06FCE, #EC7EFC, #C0AB72);
  height: 40px;
  font-size: 30px;
  padding: 0 10px;
  border-radius: 25px;
  border: none;
}

.save{
  background: #FFFCE9;
  font-size: 30px;
  padding: 0 10px;
  border-radius: 25px;
  border: none;
}

.boardBox{
  width: 630px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to left top, #FF4040, #FF791F, #FFF80D, #78DD62, #3FD8E0, #0961F6, #A06FCE, #EC7EFC, #C0AB72);
  padding: 5px;
}

.boardTiles{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  width: 620px;
  height: 620px;
}

.tile {
  background-color: #fff;
  width: 120px;
  height: 120px;
  position: relative;
}
.picture{
  width: 120px;
  height: 120px;
}

.nameTag{
  width: fit-content;
  height: 26px;
  font-size: 22px;
  padding: 8px 10px 0;
  border-radius: 15px;
  line-height: 20px;
  position: absolute;
  z-index: 2;
  top: 72px;
  margin-left: auto;
  margin-right: auto;
}
.blot{
  background-color: #000;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  left: 40px;
}

.free{
  width: 120px;
  height: 120px;
}

.overlap{
  position: absolute;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.plot{
  width: 120px;
  height: 120px;
}

.blotter{
  display: grid;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
}

.blotter > div {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  transition: opacity 0.25s;
}

.blotter:hover div:not(:hover) {
  opacity: 0.3;
}

.red {
  background-color: #FF4040;
}

.orange {
  background-color: #FF791F;
}

.yellow {
  background-color: #FFF80D;
}

.green {
  background-color: #78DD62;
}

.teal {
  background-color: #3FD8E0;
}

.blue {
  background-color: #0961F6;
}

.purple {
  background-color: #A06FCE;
}

.pink {
  background-color: #EC7EFC;
}

.gold {
  background-color: #C0AB72;
}

@media only screen and (max-width: 630px) {
  .buttons{
    width: 480px;
  }
  .boardBox{
    width: 480px;
    height: 480px;
  }
  .boardTiles{
    width: 470px;
    height: 470px;
  }
  .blotter{
    width: 480px;
  }
  .blotter > div {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 5px;
  }
}