.onoffswitch {
  position: relative;
  width: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  justify-self: end;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #0961f6;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 20px;
  font-family: proxima-soft, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 6px;
  /* background-color: #e6e6e6; */
  background-image: linear-gradient(#d0b7e6, #84b0fb);
  color: #333;
  text-align: left;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 6px;
  background-color: transparent;
  color: #333;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  height: 18px;
  margin: 3px;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  /* background-color: #A06FCE; */
}
@media only screen and (max-width: 630px) {
  .onoffswitch {
    width: 110px;
  }

  .onoffswitch-inner:before,
  .onoffswitch-inner:after {
    height: 36px;
    font-size: 30px;
    line-height: 36px;
  }

  .onoffswitch-switch {
    width: 32px;
    height: 32px;
    margin: 4px;
    right: 70px;
  }
}
