.onoffswitch {
  position: relative;
  width: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #78dd62;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 20px;
  font-family: proxima-soft, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 6px;
  background-color: #e6e6e6;
  color: #2f831c;
  text-align: left;
  
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 6px;
  background-color: transparent;
  color: #4d4d4d;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  height: 18px;
  margin: 3px;
  background: #4d4d4d;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #78dd62;
}
